*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00FA9A;
    display: flex;
    justify-content: center;
}

@keyframes example {
    0% {color:black;left:0px;top:0px;}
    25% {color:white;left:20px;top:10px;}
    50% {color: blue;right:20px;top:20px;}
    100% {color: red;left:0px;top:0px;}
    }

h1{
font-size:52px;
text-align: center;
animation-name:example;
animation-duration: 4s;
animation-delay: 2s;
animation-iteration-count:infinite;
animation-direction:alternate-reverse;
animation-timing-function: ease;
position: relative;

}
.main{
display: flex;
width: 70%;
flex-direction: column;
justify-content: center;
row-gap:50px;
margin-bottom: 150px;
}
.main p{
 margin-top: -25px;
}
.header{
    display: flex;
    flex-direction: column;
    row-gap:50px;
    margin-top: 100px;
}
.header img{
    width: 50%;
    align-self: center;
    border: 10px solid white;
    border-radius: 1%;
    box-shadow: 3px 3px 5px 5px rgb(195, 228, 198);
    transition:width 2s, box-shadow 2s,transform 2s;
}
.header img:hover{
    cursor: pointer;
    width:53%;
    box-shadow: 3px 3px 15px 15px rgb(28, 196, 42);
    transform: rotate(2deg);
    transition-timing-function:ease-out;
}
.header>p{
    margin-top: -25px;
    font-size: 20px;
}
.breif{
    padding: 15px;
    background-color: #0ed186;
    box-shadow:15px 15px 15px rgb(170, 240, 170);
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.breif h1{
  font-size: 42px;
  color: white;
}
.breif ul li{
    list-style: none;
}
.breif ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
#developer{
   color: rgb(3, 3, 252);
   font-size: large;
}


